body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
}

.dashboard {
    width: 600px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.form input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

.form button {
    padding: 10px 15px;
    background: #38bdf8;
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}